@import url("https://fonts.googleapis.com/css2?family=Cormorant%20Garamond:wght@400;600;700&display=swap");@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");* {
	padding: 0rem;
	margin: 0rem;
	border: 0rem;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
*::before,
*::after {
	display: inline-block;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1;
	scrollbar-gutter: stable;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	background-color: transparent;
}
input,
textarea {
	width: 100%;
}
label {
	display: inline-block;
}
button,
select,
option {
	cursor: pointer;
}
a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
address {
	font-style: normal;
}
@font-face { 
	font-family: "iconfont"; 
	font-display: swap;
	src: url("../assets/fonts/iconfont.woff2?d1fe1f7d153cd6afb6dc45d85ce376ae") format("woff2"); 
} 
[class*="--icon-"]::before{
	font-family: iconfont; 
}
	[class*="--icon-tel"]::before { 
		content: "\f101"; 
	} 


/* Generated by vite-plugin-svg-spritemap */
body {
  min-width: 20rem;
  color: black;
  font-family: "Cormorant Garamond", sans-serif;
  font-size: 1rem;
  background-color: rgb(246, 246, 246);
}
[data-fls-scrolllock] body {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}
[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}/* Generated by vite-plugin-svg-spritemap */
[data-fls-spollers] summary {
  list-style: none;
}
[data-fls-spollers] summary::marker, [data-fls-spollers] summary::-webkit-details-marker {
  display: none;
}

.spollers {
  display: grid;
  gap: 0.9375rem;
}

.spollers__item {
  font-size: 1.25rem;
}

.spollers__title {
  width: 100%;
  cursor: default;
  text-align: center;
  border: 0.0625rem solid #eee;
  padding: 0.625rem 0.9375rem;
  border-radius: 0.3125rem;
  position: relative;
  list-style: none;
}
.spollers__title::marker, .spollers__title::-webkit-details-marker {
  display: none;
}
.--spoller-init .spollers__title {
  cursor: pointer;
}
.--spoller-init .spollers__title::before, .--spoller-init .spollers__title::after {
  content: "";
  position: absolute;
  right: 0.625rem;
  top: 50%;
  background-color: #000;
  height: 0.125rem;
  width: 0.9375rem;
  transition: transform 0.5s ease 0s;
}
.--spoller-init .spollers__title::before {
  transform: translate(-75%, -50%) rotate(40deg);
}
.--spoller-init .spollers__title::after {
  transform: translate(0, -50%) rotate(-40deg);
}
.--spoller-init .spollers__title.--spoller-active::before {
  transform: translateX(-75%) rotate(-40deg);
}
.--spoller-init .spollers__title.--spoller-active::after {
  transform: rotate(40deg);
}

.spollers__body {
  padding: 1.25rem;
  border-radius: 0.3125rem;
  border: 0.0625rem solid #eee;
}/* Generated by vite-plugin-svg-spritemap */
.menu__list {
  display: flex;
  gap: 1.25rem;
}
.menu__link {
  font-size: 1.1875rem;
}

.icon-menu {
  display: none;
}/* Generated by vite-plugin-svg-spritemap */
.header {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.08);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1.5625rem;
}
.header__main-block {
  background-color: white;
}
.header__logo img {
  width: 100%;
  height: 100%;
}
.header__contact {
  background-color: rgba(255, 255, 255, 0.822);
  position: relative;
  z-index: 50;
}
.header .contact__tel {
  font-size: 1.375rem;
}
.header .contact__tel,
.header .menu__link {
  letter-spacing: 0.125rem;
  position: relative;
}
.header .contact__tel::before,
.header .menu__link::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 0.125rem;
  bottom: -0.25rem;
  right: 50%;
  translate: 50%;
  background-color: rgba(0, 0, 0, 0.918);
  transition: all ease-in-out 0.3s;
}

.contact__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.875rem;
  padding-block: 0.9375rem;
}
.contact__container--none {
  display: none;
}
.contact__social {
  display: flex;
  gap: 0.625rem;
}
.contact__social a {
  width: 1.875rem;
  height: 1.875rem;
}
.contact__tel-icon {
  width: 1.25rem;
  height: 1.25rem;
  transition: scale ease-in 0.3s;
}
.contact__tel-icon img {
  width: 100%;
  height: 100%;
}
.header-spacer {
  height: 10.625rem;
}/* Generated by vite-plugin-svg-spritemap */
.footer {
  padding-block: 1.25rem;
  color: black;
}
.address__title {
  font-size: 2.5rem;
  background-color: rgb(246, 246, 246);
  padding-block: 0.9375rem;
  padding-inline: 1.25rem;
  margin-bottom: 0.9375rem;
  border-bottom: 0.125rem solid black;
}
.address__box {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  margin-bottom: 1.25rem;
  justify-content: space-between;
}
.address__hours {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  margin-bottom: 0.9375rem;
}
.address__social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social__title {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 0.9375rem;
}
.social__list {
  display: flex;
  gap: 1.25rem;
}
.social__pic {
  width: 2.5rem;
  height: 2.5rem;
}
.social__pic img {
  height: 100%;
  width: 100%;
  transition: scale ease-in-out 0.3s;
}/* Generated by vite-plugin-svg-spritemap */@media (max-width: 75em) and (any-hover: none){
  .icon-menu {
    cursor: default;
  }
}@media (max-width: 75em){
  .menu__body {
    position: fixed;
    width: 50%;
    height: 100svh;
    right: -100%;
    top: 7.25rem;
    overflow: auto;
    padding: 1.25rem 0.9375rem 1.875rem 1.5625rem;
    transition: right 0.3s;
    background-color: rgb(255, 255, 255);
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    right: -100%;
    top: 0;
    transition: right 0.3s;
    z-index: 2;
  }
  [data-fls-menu-open] .menu__body {
    right: 0;
  }
  [data-fls-menu-open] .menu__body::before {
    right: 0;
  }
  .menu__list {
    flex-direction: column;
    align-items: center;
  }
  .menu__link {
    font-size: 1.5625rem;
    padding-bottom: 0.3125rem;
    border-bottom: 0.0625rem solid #000000;
    color: #000000;
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: black;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  [data-fls-menu-open] .icon-menu span {
    width: 0;
  }
  [data-fls-menu-open] .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  [data-fls-menu-open] .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
  .header .contact__container.contact__container--none {
    display: flex;
  }
  .header .contact__container {
    display: none;
  }
  .header-spacer {
    height: 7.5rem;
  }
}@media (max-width: 50em){
  .header .contact__container.contact__container--none {
    display: flex;
    flex-direction: column;
    padding-block: 0.3125rem;
    gap: 0.625rem;
    background-color: #fff;
  }
}@media (max-width: 46.875em){
  .address__title {
    padding-inline: 0;
  }
  .address__box {
    flex-direction: column;
  }
  .address__box .address__info {
    align-self: flex-start;
  }
}@media (max-width: 43.75em){
  .menu__body {
    width: 100%;
  }
}@media (max-width: 37.5em){
  .menu__body {
    top: 6.375rem;
  }
  .header__logo {
    width: 6.25rem;
  }
  .header .contact__tel-icon {
    display: none;
  }
  .address__map iframe {
    height: 12.5rem;
  }
}@media (max-width: 25em){
  .header .contact__tel {
    font-size: 1rem;
    letter-spacing: 0rem;
  }
}@media (any-hover: hover) and (pointer: fine){
  .header .contact__tel:hover::before,
  .header .menu__link:hover::before {
    width: 100%;
  }
  .contact__tel-icon:hover {
    scale: 1.1;
  }
  .social__pic img:hover {
    scale: 1.1;
  }
}