.index {

    
    // .index__container

    &__container {}

    //.index__container--none
    &__container--none{
        @media (max-width: toEm(768)){
              max-width: 100%;
              padding: 0;

        }
    }

    // .index__hero

    &__hero {
        margin-bottom: 30px;
    }

    // .index__catalog

    &__catalog {
        margin-bottom: 30px;
    }

}

.hero {

    // .hero__slider

    &__slider {
        position: relative;
        border-radius: 12px;
        // width: 100vw;
    }

    // .hero__wrapper

    &__wrapper {}

    // .hero__slide

    &__slide {
        img {
            width: 100%;
            height: 100%;
        }
    }

    //.hero__button-prev

    &__button-prev {
        left: 2vw;
        rotate: 180deg 0;
    }

    &__button-prev,
    &__button-next {
        position: absolute;
        top: 50%;
        translate: 0 -50%;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.301);
        width: 50px;
        height: 50px;
    }

    //.hero__button-next
    &__button-next {
        right: 2vw;
    }

}

.catalog {

    // .catalog__title

    &__title {
        font-size: 40px;
        background-color: rgba(246, 246, 246, 1);
        color: black;
        // border-radius: 12px;
        padding-block: 15px;
        padding-inline: 20px;
        margin-bottom: 15px;
        border-bottom: 2px solid black;
    }

    // .catalog__grid

    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        gap: 20px;

        @media (max-width: toEm(600)) {
            grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        }
    }

    // .catalog__card

    &__card {
        border-radius: 12px;
        overflow: hidden;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
        transition: box-shadow 0.3s ease;
        color: black;

        @media (any-hover: hover) and (pointer: fine) {
            &:hover {
                box-shadow: 0 4px 16px rgba(0, 0, 0, 0.18);
            }
        }

    }
}

.card {

    // .card__link

    &__link {
        // height: 100%;
    }


    //.card__pic

    &__pic {
        // aspect-ratio: 400 / 280;
        // @media (min-width:toEm(1100)) {
        //     &::after {
        //         content: '';
        //         width: 100%;
        //         height: 100%;
        //         position: absolute;
        //         top: 0;
        //         left: 0;
        //         background-color: rgba(0, 0, 0, 0.185);
        //         transition: background-color, ease-in-out 0.3s;
        //     }

        //     @media (any-hover: hover) and (pointer: fine) {
        //         &:hover {
        //             &::after {
        //                 background-color: rgba(0, 0, 0, 0);
        //             }

        //         }
        //     }
        // }
        @media (min-width:toEm(850)) {
            aspect-ratio: 400 / 280;
        }
    }

    // .card__img

    &__img {
        height: 100%;
        width: 100%;
        // object-fit: cover;
    }

    //.card__info

    &__info {
        padding: 15px;
        background-color: rgba(246, 246, 246, 1);
    }



    // .card__title

    &__title {
        font-size: 30px;
        margin-bottom: 10px;
        text-align: center;
        font-weight: 700;
    }

    // .card__price

    &__price {
        display: block;
        text-align: center;
        font-size: 22px;
    }
}

