<div data-fls-index class="index">
    <include src="@components/layout/popup/popup.html"></include>
    <div class="index__container index__container--none">
        <div class="index__hero hero">
            <!-- Оболонка слайдера -->
            <div data-fls-slider class="hero__slider swiper">
                <!-- Частина слайдера, що рухається -->
                <div class="hero__wrapper swiper-wrapper">
                    <!-- Слайд -->
                    <div class="hero__slide swiper-slide">
                        <img src="@img/mainSlider/16.jpg" alt="диван">
                    </div>
                    <div class="hero__slide swiper-slide">
                        <img src="@img/mainSlider/14.jpg" alt="диван">
                    </div>
                    <div class="hero__slide swiper-slide">
                        <img src="@img/mainSlider/15.jpg" alt="диван">
                    </div>
                </div>
                <button type="button" class="swiper-button-prev hero__button-prev"></button>
                <button type="button" class="swiper-button-next hero__button-next"></button>
            </div>
        </div>
    </div>
        <div class="index__container">
        <section class="index__catalog catalog">
            <h2 class="catalog__title">Каталог</h2>
            <div class="catalog__grid">
                <article class="catalog__card card">
                    <a href="product.html?id=1" class="card__link">
                        <div class="card__pic">
                            <img src="@img/mainSlider/2.jpg" alt="Кутовий диван Хілтон" class="card__img">
                        </div>
                        <div class="card__info">
                            <h3 class="card__title">Кутовий диван "Хілтон"</h3>
                            <span class="card__price"> 22 800 грн </span>
                        </div>
                    </a>
                </article>
                <article class="catalog__card card">
                    <a href="product.html?id=2" class="card__link">
                        <div class="card__pic">
                            <img src="@img/mainSlider/17.jpg" alt="Кутовий диван Турін" class="card__img">
                        </div>
                        <div class="card__info">
                            <h3 class="card__title">Кутовий диван "Турін"</h3>
                            <span class="card__price"> 24 300 грн </span>
                        </div>
                    </a>
                </article>
                <article class="catalog__card card">
                    <a href="product.html?id=3" class="card__link">
                        <div class="card__pic">
                            <img src="@img/mainSlider/18.jpg" alt="Кутовий диван Джотто" class="card__img">
                        </div>
                        <div class="card__info">
                            <h3 class="card__title">Кутовий диван "Джотто"</h3>
                            <span class="card__price"> 24 300 грн </span>
                        </div>
                    </a>
                </article>
                <article class="catalog__card card">
                    <a href="product.html?id=4" class="card__link">
                        <div class="card__pic">
                            <img src="@img/mainSlider/1.jpg" alt="Кутовий диван Хілтон" class="card__img">
                        </div>
                        <div class="card__info">
                            <h3 class="card__title">Кутовий диван "Хілтон"</h3>
                            <span class="card__price"> 22 800 грн </span>
                        </div>
                    </a>
                </article>
                
                <article class="catalog__card card">
                    <a href="product.html?id=5" class="card__link">
                        <div class="card__pic">
                            <img src="@img/mainSlider/19.jpg" alt="Кутовий диван Турін" class="card__img">
                        </div>
                        <div class="card__info">
                            <h3 class="card__title">Кутовий диван "Турін"</h3>
                            <span class="card__price"> 24 300 грн </span>
                        </div>
                    </a>
                </article>
                <article class="catalog__card card">
                    <a href="#" class="card__link">
                        <div class="card__pic">
                            <img src="@img/mainSlider/4.jpg" alt="Диван Рітм" class="card__img">
                        </div>
                        <div class="card__info">
                            <h3 class="card__title">Рітм</h3>
                            <span class="card__price"> 16 000 грн </span>
                        </div>
                    </a>
                </article>
                <article class="catalog__card card">
                    <a href="#" class="card__link">
                        <div class="card__pic">
                            <img src="@img/mainSlider/5.jpg" alt="Диван Моріс" class="card__img">
                        </div>
                        <div class="card__info">
                            <h3 class="card__title">Моріс</h3>
                            <span class="card__price"> 15 500 грн </span>
                        </div>
                    </a>
                </article>
                <article class="catalog__card card">
                    <a href="#" class="card__link">
                        <div class="card__pic">
                            <img src="@img/mainSlider/6.jpg" alt="Диван Люкс" class="card__img">
                        </div>
                        <div class="card__info">
                            <h3 class="card__title">Люкс</h3>
                            <span class="card__price"> 16 800 грн </span>
                        </div>
                    </a>
                </article>
                <article class="catalog__card card">
                    <a href="#" class="card__link">
                        <div class="card__pic">
                            <img src="@img/mainSlider/7.jpg" alt="Диван Ренк" class="card__img">
                        </div>
                        <div class="card__info">
                            <h3 class="card__title">Ренк</h3>
                            <span class="card__price"> 16 500 грн </span>
                        </div>
                    </a>
                </article>
                <article class="catalog__card card">
                    <a href="#" class="card__link">
                        <div class="card__pic">
                            <img src="@img/mainSlider/8.jpg" alt="Диван Грант" class="card__img">
                        </div>
                        <div class="card__info">
                            <h3 class="card__title">Грант</h3>
                            <span class="card__price"> 23 000 грн </span>
                        </div>
                    </a>
                </article>
                <article class="catalog__card card">
                    <a href="#" class="card__link">
                        <div class="card__pic">
                            <img src="@img/mainSlider/9.jpg" alt="Диван Грант" class="card__img">
                        </div>
                        <div class="card__info">
                            <h3 class="card__title">Грант</h3>
                            <span class="card__price"> 23 000 грн </span>
                        </div>
                    </a>
                </article>
                <article class="catalog__card card">
                    <a href="#" class="card__link">
                        <div class="card__pic">
                            <img src="@img/mainSlider/10.jpg" alt="Диван Моріс" class="card__img">
                        </div>
                        <div class="card__info">
                            <h3 class="card__title">Моріс</h3>
                            <span class="card__price"> 15 500 грн </span>
                        </div>
                    </a>
                </article>
                <article class="catalog__card card">
                    <a href="#" class="card__link">
                        <div class="card__pic">
                            <img src="@img/mainSlider/11.jpg" alt="Диван Далас" class="card__img">
                        </div>
                        <div class="card__info">
                            <h3 class="card__title">Далас</h3>
                            <span class="card__price"> 17 000 грн </span>
                        </div>
                    </a>
                </article>
                <article class="catalog__card card">
                    <a href="#" class="card__link">
                        <div class="card__pic">
                            <img src="@img/mainSlider/12.jpg" alt="Диван Ліра" class="card__img">
                        </div>
                        <div class="card__info">
                            <h3 class="card__title">Ліра</h3>
                            <span class="card__price"> 16 000 грн </span>
                        </div>
                    </a>
                </article>
                <article class="catalog__card card">
                    <a href="#" class="card__link">
                        <div class="card__pic">
                            <img src="@img/mainSlider/13.jpg" alt="Диван Моріс" class="card__img">
                        </div>
                        <div class="card__info">
                            <h3 class="card__title">Моріс</h3>
                            <span class="card__price"> 15 600 грн </span>
                        </div>
                    </a>
                </article>
            </div>
        </section>
        
    </div>
</div>