<header data-fls-header class="header">
	<!-- <div class="header__container"> -->
	<div class="header__contact contact">
		<div class="contact__container">
			<div class="contact__item">
				<a class="contact__tel-icon" href="tel:+380996384537">
					<img src="@img/tel.svg" alt="icon-tel">
				</a>
				<a href="tel:+380996384537" class="contact__tel">+38 (099)-638-45-37</a>
			</div>
			<div class="contact__item">
				<a class="contact__tel-icon" href="tel:+380996384537">
					<img src="@img/tel.svg" alt="icon-tel">
				</a>
				<a href="tel:+380996384537" class="contact__tel">+38 (099)-638-50-00</a>
			</div>
		</div>
	</div>
	<div class="header__main-block">
		<div class="header__container">
			<div class="header__logo">
				<img src="@img/logo.svg" alt="logo">
			</div>
			<div class="header__contact contact">
				<div class="contact__container contact__container--none">
					<div class="contact__item">
						<a class="contact__tel-icon" href="tel:+380996384537">
							<img src="@img/tel.svg" alt="icon-tel">
						</a>
						<a href="tel:+380996384537" class="contact__tel">+38 (099)-638-45-37</a>
					</div>
					<div class="contact__item">
						<a class="contact__tel-icon" href="tel:+380996384537">
							<img src="@img/tel.svg" alt="icon-tel">
						</a>
						<a href="tel:+380996384537" class="contact__tel">+38 (099)-638-50-00</a>
					</div>
				</div>
			</div>
			<!-- <div data-fls-spollers class="header__spollers spollers">
				<details class="spollers__item">
					<summary class="spollers__title">
						<img src="@img/tel.svg" alt="icon-tel">
					</summary>
					<div class="spollers__body">Контент спойлера</div>
				</details>
			</div> -->
			<include src="@components/layout/menu/menu.html" locals='{"active":"[[active]]"}'></include>
		</div>
	</div>
	<!-- </div> -->
</header>
<div class="header-spacer"></div>