.footer {
	padding-block: 20px;
	color: black;
	// .footer__container

	&__container {}

	// .footer__address

	&__address {}
}

.address {

	// .address__title

	&__title {
		font-size: 40px;
		background-color: rgba(246, 246, 246, 1);
		// border-radius: 12px;
		padding-block: 15px;
		padding-inline: 20px;
		margin-bottom: 15px;
		border-bottom: 2px solid black;

		@media (max-width: toEm(750)) {
			padding-inline: 0;
		}
	}

	// .address__box

	&__box {
		display: flex;
		align-items: center;
		gap: 20px;
		margin-bottom: 20px;
		justify-content: space-between;

		@media (max-width: toEm(750)) {
			flex-direction: column;

			.address__info {
				align-self: flex-start;
			}
		}
	}

	// .address__info

	&__info {}

	// .address__hours

	&__hours {
		display: flex;
		flex-direction: column;
		gap: 10px;
		margin-bottom: 15px;
	}

	// .address__location

	&__location {}

	// .address__social

	&__social {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	// .address__map

	&__map {
		iframe {
			@media (max-width: toEm(600)) {
				height: 200px;
			}
		}
	}
}

.social {

	// .social__title

	&__title {
		font-weight: 600;
		font-size: 16px;
		line-height: 1;
		text-transform: uppercase;
		margin-bottom: 15px;
	}

	// .social__list

	&__list {
		display: flex;
		gap: 20px;
	}

	// .social__pic

	&__pic {
		width: 40px;
		height: 40px;

		img {
			height: 100%;
			width: 100%;
			transition: scale ease-in-out 0.3s;

			@media (any-hover: hover) and (pointer: fine) {
				&:hover {
					scale: 1.1;
				}
			}
		}
	}
}